header{
    padding: 2rem 0;
    background-color: var(--bg-elements);
    .logo{
        font-size: 1rem;
        font-weight: 800;
    }

    input[type="checkbox"]{
        appearance: none;
    }
    label span{
        padding-left: 0.5rem;
    }
}