<div class="filter relative">
    <select name="region" id="region">
        <option value="" hidden>Filter by Region</option>
        <option value="africa">Africa</option>
        <option value="america">Ámerica</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="oceania">Oceania</option>
    </select>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute" ><polyline points="6 9 12 15 18 9"></polyline></svg>
</div>