---
import Toggle from '../components/Toggle'
---
<header>
    <div class="container">
        <div class="flex items-center justify-between">
            <a href="/" class="logo">Where in the world?</a>
            <Toggle client:only/>
        </div>
    </div>
</header>