[data-theme=dark] {
    --bg-elements: hsl(209, 23%, 22%);
    --bg-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --bg-input: hsl(0, 0%, 52%);
    --shadow: rgba(255, 255, 255, 0.24);
}

[data-theme=light] {
    --bg-color: hsl(0, 0%, 98%);
    --bg-elements: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --bg-input: hsl(0, 0%, 52%);
    --shadow: rgba(0, 0, 0, 0.24);
}